@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.main__main-page-play-button {
  position: absolute; /*относительное позиционирование*/
  right: 250px;
  top: 100px;
  z-index: 99;
  width: 100%; /*ширина круга*/
  height: 200px; /*высота круга*/
  border-radius: 50%; /*скругление углов*/
  display: flex;
  justify-content: end;
}
.main__main-page-text-play {
  position: absolute;
  width: 200px;
  height: 200px;
  animation: animate 15s linear infinite; /*свойства анимации*/
}

p span {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  position: absolute;
  left: 50%; /*позиция слева*/
  top: 0;
  font-size: 25px;
  color: white;
  transform-origin: 0 100px; /*точка исхода трансформации*/
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.main__main-page-logotype-block {
  position: relative;
}

.main__main-page-play {
  position: absolute;
  top: 59px;
  right: -141px;
}

.main__main-page-block {
  position: relative;
  top: 0;
  padding: 0 10px;
  padding-top: 170px;
  transition: all 3s ease;
}
.main__main-page-title {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 90px;
  color: #FFFFFF;
}
.main__main-page-logotype-link {
  padding: 0;
  margin-left: -32px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
}
.main__main-page-play {
  cursor: pointer;
}
.main__main-page-play svg {
  color: #FFFFFF;
  transition: color 0.5s;
}
.main__main-page-play svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.main__main-page-bottom-block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.main__main-page-bottom-text {
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.main__main-page-bottom-arrow {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 20px 60px;
  margin-right: 45px;
  transition: all 0.5s;
}
.main__main-page-bottom-arrow:hover {
  border: 3px solid #FF00B7;
  transition: all 0.5s;
  cursor: pointer;
}
.main__main-page-bottom-arrow:hover svg {
  color: #FF00B7;
  transition: color 0.5s;
}
.main__main-page-bottom-arrow svg {
  color: #FFFFFF;
  transition: color 0.5s;
}
.main__main-page-bottom-arrow-text {
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  color: #FFFFFF;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.main__main-page-bottom-arrow-min {
  display: none;
}

.main__main-page-bottom-arrow-min div {
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 10px 37px;
  transition: all 0.5s;
  max-width: 97px;
}

.main__main-page-bottom-arrow-min svg {
  color: #ffffff;
}

.main__page-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.main__advantage-block {
  position: relative;
  bottom: 0;
  transition: all 2s ease;
  padding-top: 270px;
  padding-bottom: 258px;
}
.main__advantage-title-block {
  position: relative;
  top: 0;
}
.main__advantage-title {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 90px;
  text-align: center;
  color: #FFFFFF;
}
.main__advantage-title-absolute {
  position: absolute;
  top: -88px;
  left: 50%;
  transform: translate(-50%, 0%);
  font-weight: 300;
  font-size: 150px;
  line-height: 183px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.05;
}
.main__advantage-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
  padding-top: 125px;
  position: relative;
  top: 0;
  left: 0;
  transition: all 1s;
}
.main__advantage-element {
  background: rgba(255, 0, 183, 0.46);
  box-shadow: inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  max-width: 378px;
  padding: 23px;
  box-shadow: 0px 4px 17px rgba(255, 0, 183, 0.64);
}
.main__advantage-img-element {
  padding-bottom: 25px;
}
.main__advantage-text-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.main__advantage-background-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main__advantage-girl {
  position: absolute;
  top: 223px;
  left: -20px;
}
.main__advantage-circleright {
  border: 3px solid #FF00B7;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 75px;
}
.main__advantage-circlebottom {
  border: 9px solid #FF00B7;
  width: 322px;
  height: 322px;
  border-radius: 50%;
  box-shadow: 0px 0px 38px 3px #FF00B7;
  position: absolute;
  bottom: 13%;
  left: 39%;
}
.main__advantage-butterfly-right {
  position: absolute;
  bottom: -150px;
  right: 0;
}
.main__advantage-butterfly-bottom-1 {
  position: absolute;
  bottom: 6%;
  left: 20%;
}
.main__advantage-butterfly-bottom-2 {
  position: absolute;
  bottom: -13%;
  right: 0%;
}
.main__advantage-butterfly-top-1 {
  position: absolute;
  top: 20%;
  right: 0;
}
.main__advantage-butterfly-top-2 {
  position: absolute;
  top: 7%;
  left: 0%;
}

.main__advantage-circle-block {
  padding-top: 36px;
  display: none;
  justify-content: center;
  gap: 21px;
}
.main__advantage-circle {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
.main__advantage-circle:hover {
  background: #FF00B7;
  border: 2px solid #FF00B7;
  box-shadow: 0px 4px 17px #FF00B7;
}

.color-circle {
  background: #FF00B7;
  border: 2px solid #FF00B7;
  box-shadow: 0px 4px 17px #FF00B7;
}

.main__calc-container .main__advantage-title-block {
  padding-bottom: 71px;
}
.main__calc-block {
  background: rgba(47, 47, 47, 0.1);
  box-shadow: inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 43px;
  padding-bottom: 49px;
}
.main__calc-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  text-shadow: 0px 4px 17px rgba(255, 0, 183, 0.47);
  max-width: 740px;
  margin: 0 auto;
  padding-top: 57px;
}
.main__calc-subtitle {
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  color: #FFFFFF;
  padding-top: 55px;
  padding-right: 107px;
}
.main__calc-blocks-cont {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: end;
  padding-top: 42px;
}
.main__calc-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 20px;
}
.main__calc-text:first-child {
  padding-top: 0;
}
.main__calc-textr {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-top: 45px;
}
.main__calc-textr:first-child {
  padding-top: 0;
}
.main__calc-toggle-block {
  background: rgba(142, 142, 142, 0.17);
  box-shadow: inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  display: flex;
  justify-content: space-around;
  padding: 7px 11px;
}
.main__calc-button-link-lang {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
  padding: 16px 27px;
  background-color: rgba(142, 142, 142, 0);
  white-space: nowrap;
}
.main__calc-button-link-lang:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  color: #FFFFFF;
  opacity: 1;
}
.main__calc-button-link-time {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
  padding: 16px 27px;
  background-color: rgba(142, 142, 142, 0);
  white-space: nowrap;
}
.main__calc-button-link-time:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  color: #FFFFFF;
  opacity: 1;
}
.main__calc-button-link-week {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  opacity: 0.7;
  padding: 16px 27px;
  background-color: rgba(142, 142, 142, 0);
  white-space: nowrap;
  border-radius: 43px;
}
.main__calc-button-link-week:hover {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  color: #FFFFFF;
  opacity: 1;
}
.main__calc-cash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.main__calc-rub {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #FFFFFF;
  text-shadow: 0px 4px 17px rgba(20, 0, 255, 0.37);
  padding-top: 2px;
}
.main__calc-line {
  border: 1px solid rgba(255, 255, 255, 0.63);
  box-shadow: 0px 4px 17px #1400FF;
  width: 174px;
  height: 1px;
  margin-left: 30px;
}
.main__calc-button-botom {
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 63px rgba(61, 0, 188, 0.92);
  border-radius: 31px;
  max-width: 465px;
  margin: 0 auto;
  text-align: center;
  margin-top: 72px;
}
.main__calc-button-botom-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  padding: 29px 24px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.main__calc-button-botom:hover {
  box-shadow: 0px 4px 26px #2c0e6d;
}
.main__calc-button-botom:hover .main__calc-button-botom-link:hover {
  color: #FF00B7;
  transition: all 0.5s;
}

.button-active {
  background: #1400FF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  color: #FFFFFF;
  opacity: 1;
}

.main__calc-page-block {
  position: relative;
}

.main__calc-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.main__calc-back-girl {
  position: absolute;
  top: 0;
  right: 0;
}
.main__calc-circleright {
  border: 17px solid #1400FF;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 0;
}
.main__calc-circlebottom {
  border: 16px solid #1400FF;
  width: 404px;
  height: 404px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}
.main__calc-butterfly-bottom-2 {
  z-index: 12;
  position: absolute;
  left: 0;
  top: 10%;
}
.main__history-block {
  padding-top: 300px;
}
.history__content-block {
  position: relative;
  display: flex;
  padding: 120px 10px 0 10px;
}
.history__content-text {
  width: 42%;
}
.history__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 35px;
}
.history__textico-block {
  display: flex;
  align-items: center;
}
.history__ico {
  padding-right: 51px;
}
.history__ico-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.history__content-img {
  position: absolute;
  top: -13%;
  right: 0;
  z-index: -1;
}
.history__girl {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.history__buterfly {
  position: absolute;
  top: 16%;
  left: 13%;
  z-index: 2;
}
.history__circle {
  border: 5px solid #FF00B7;
  box-shadow: 0px 0px 38px 3px #FF00B7;
  width: 552px;
  height: 552px;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 20%;
  z-index: -1;
  animation-duration: 2s;
  animation-name: shadow1;
  animation-iteration-count: infinite;
}
@keyframes shadow1 {
  0% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    box-shadow: 0px 0px 38px 3px #FF00B7;
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
.interview__header {
  padding-top: 300px;
}
.interview__content-block {
  display: flex;
  justify-content: center;
  gap: 49px;
  position: relative;
  padding: 88px 10px 0 10px;
}
.interview__text-block {
  max-width: 515px;
  text-align: right;
}
.interview__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding-bottom: 50px;
}
.interview__number {
  font-weight: 400;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
  text-shadow: 0px 4px 17px #FF00B7;
  padding-bottom: 50px;
}
.interview__name-number {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding-bottom: 14px;
  width: 100%;
}
.interview__name-number input {
  background: rgba(255, 0, 183, 0.08);
  border: 1px solid #FF00B7;
  box-shadow: 0px 4px 17px rgba(255, 0, 183, 0.08);
  border-radius: 15px;
  padding: 21px 0;
  padding-left: 24px;
  width: 297px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.interview__name-number input:focus {
  border: 2px solid #ffffff;
}
.interview__name {
  display: flex;
  flex-direction: column;
}
.interview__number1 {
  display: flex;
  flex-direction: column;
}
.interview__email {
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.interview__email input {
  background: rgba(255, 0, 183, 0.08);
  border: 1px solid #FF00B7;
  box-shadow: 0px 4px 17px rgba(255, 0, 183, 0.08);
  border-radius: 15px;
  padding: 21px 0;
  padding-left: 24px;
  width: 626px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.interview__comments {
  padding-bottom: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.interview__comments textarea {
  background: rgba(255, 0, 183, 0.08);
  border: 1px solid #FF00B7;
  box-shadow: 0px 4px 17px rgba(255, 0, 183, 0.08);
  border-radius: 15px;
  padding: 21px 0;
  padding-left: 24px;
  width: 626px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
.interview__checkbox {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-bottom: 24px;
}
.interview__checkbox a {
  color: inherit;
  text-decoration: underline;
}
.interview__checkbox a:hover {
  color: #FF00B7;
}
.interview__checkbox input {
  margin: 0 17px;
  width: 19px;
  height: 19px;
}
.interview__button-block {
  text-align: center;
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 50px #3E06B4;
  border-radius: 20px;
}
.interview__button {
  background-color: rgba(255, 0, 183, 0);
  padding: 16px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.interview__button-block:hover {
  box-shadow: 0px 4px 26px #2c0e6d;
}
.interview__button-block:hover .interview__button:hover {
  color: #FF00B7;
  transition: all 0.5s;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

input::placeholder,
textarea::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

input:focus,
textarea:focus {
  border: 2px solid #ffffff;
}

label {
  visibility: hidden;
  padding-bottom: 10px;
  color: #FF0000;
  opacity: 0.8;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.interview__back-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.interview__girl {
  position: absolute;
  top: 15%;
  left: 0;
}
.interview__butterfly1 {
  position: absolute;
  bottom: -15%;
  left: 20%;
}
.interview__butterfly2 {
  position: absolute;
  bottom: 25%;
  left: 17%;
}
.interview__butterfly3 {
  position: absolute;
  bottom: 31%;
  left: 38%;
}

.quest {
  padding-top: 200px;
  position: relative;
  top: 0;
  padding-bottom: 65px;
}
.quest__subheader {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  max-width: 681px;
  margin: 0 auto;
  padding-top: 58px;
}
.quest__block-content {
  padding-top: 76px;
}
.quest__block {
  background: rgba(146, 0, 175, 0.1);
  box-shadow: inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  padding: 52px 92px 52px 35px;
}
.quest__item {
  align-items: center;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 25px;
  cursor: pointer;
}
.quest__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s;
}
.quest__subtext {
  font-weight: 300;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  opacity: 0.8;
  padding-top: 19px;
  transition: all 0.5s;
}
.quest__arrow-svg {
  transition: all 0.5s;
}
.quest__back {
  position: absolute;
  top: 1%;
  right: 0%;
  z-index: -1;
}

.rotate-ar {
  transform: rotate(180deg);
  transition: all 0.5s;
}

.reviews-continue__header {
  padding-top: 300px;
}
.reviews-continue__content-block {
  padding-top: 106px;
  margin: 0 auto;
}
.reviews-continue__block {
  position: relative;
  top: 0;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.reviews-continue__opacity-left {
  position: absolute;
  top: 18%;
  left: 0%;
  width: 367px;
  height: 530px;
  background-color: rgba(165, 165, 165, 0);
  z-index: 50;
  border-radius: 43px;
  cursor: pointer;
}
.reviews-continue__opacity-right {
  position: absolute;
  top: 18%;
  right: 0%;
  width: 367px;
  height: 530px;
  background-color: rgba(165, 165, 165, 0);
  z-index: 50;
  border-radius: 43px;
  cursor: pointer;
}
.reviews-continue__slider-block {
  padding-top: 150px;
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  margin: 0 auto;
  padding-bottom: 150px;
  transition: all ease 1s;
}
.reviews-continue__slider-item {
  transition: all 1s;
}
.reviews-continue__img {
  position: absolute;
  top: -16%;
  left: 28%;
  z-index: 10;
}
.reviews-continue__name {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 92px;
}
.reviews-continue__exp {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
}
.reviews-continue__text {
  padding-top: 12px;
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(139, 0, 167, 0.45);
  box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  padding: 12px 32px;
  min-width: 367px;
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 36px;
  background: rgba(139, 0, 167, 0.45);
  opacity: 0.7;
  box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35.8px);
  border-radius: 43px;
  transition: all 1s;
}
.reviews-continue__button-block {
  text-align: center;
  padding-top: 103px;
}
.reviews-continue__button-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  padding: 29px 24px;
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 50px #3E06B4;
  border-radius: 31px;
}

.rewiews-continue__text-cont {
  transform-style: preserve-3d;
  perspective: 500px;
  transition: all 1s;
}

.rotate-right {
  transform: rotateY(40deg);
}

.rotate-left {
  transform: rotateY(-40deg);
}

.reviews__header {
  padding-top: 300px;
}
.reviews__content-block {
  padding-top: 106px;
  margin: 0 auto;
}
.reviews__block {
  position: relative;
  top: 0;
  max-width: 1100px;
  margin: 0 auto;
  overflow: hidden;
}
.reviews__opacity-left {
  position: absolute;
  top: 18%;
  left: 0%;
  width: 367px;
  height: 530px;
  background-color: rgba(165, 165, 165, 0);
  z-index: 50;
  border-radius: 43px;
  cursor: pointer;
}
.reviews__opacity-right {
  position: absolute;
  top: 18%;
  right: 0%;
  width: 367px;
  height: 530px;
  background-color: rgba(165, 165, 165, 0);
  z-index: 50;
  border-radius: 43px;
  cursor: pointer;
}
.reviews__slider-block {
  padding-top: 150px;
  display: flex;
  justify-content: start;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  margin: 0 auto;
  padding-bottom: 150px;
  transition: all ease 1s;
}
.reviews__slider-item {
  background: rgba(139, 0, 167, 0.45);
  box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  border-radius: 43px;
  padding: 0 32px;
  min-width: 367px;
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 36px;
}
.reviews__img {
  position: absolute;
  top: -16%;
  left: 28%;
  z-index: 10;
}
.reviews__name {
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 92px;
}
.reviews__exp {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  padding-top: 10px;
}
.reviews__text {
  padding-top: 12px;
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}
.reviews__button-block {
  text-align: center;
  padding-top: 103px;
}
.reviews__button-link {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  color: #FFFFFF;
  padding: 29px 24px;
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 50px #3E06B4;
  border-radius: 31px;
}

.hoveritem {
  transform: scale(1.2);
  z-index: 20;
  transition: all 1s;
}

.team__header {
  padding-top: 300px;
}
.team__block-content {
  display: flex;
  padding: 0 10px;
}
.team__text-and-button-block {
  width: 38%;
  padding-right: 61px;
}
.team__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  padding-bottom: 50px;
  padding-top: 209px;
}
.team__buttons-block {
  display: flex;
  flex-direction: column;
  max-width: 384px;
}
.team__buttons-block1 {
  display: none;
}
.team__button-link {
  filter: drop-shadow(0px 4px 50px rgba(220, 3, 165, 0.51));
  border-radius: 31px;
  border: 3px solid #ED02B2;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  padding: 26px 36px;
  background-color: rgba(220, 3, 165, 0);
  margin-bottom: 19px;
}
.team__button-link:hover {
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 50px rgba(62, 6, 180, 0.51);
}
.team__img-block {
  position: relative;
  top: 0;
  padding-top: 102px;
}
.team__img-girl {
  position: relative;
  top: 0;
  width: 100%;
}
.team__img-girl-2 {
  position: absolute;
  top: 22%;
  left: 69%;
  z-index: -1;
}
.team__img-btf {
  position: absolute;
  bottom: 0%;
  left: -28%;
}
.team__img-btf1 {
  position: absolute;
  bottom: -9%;
  left: 0%;
}
.team__img-btf2 {
  position: absolute;
  top: 5%;
  right: -58%;
}
.team__circle {
  border: 5px solid #FF00B7;
  box-shadow: 0px 0px 38px 3px #FF00B7;
  width: 281px;
  height: 281px;
  border-radius: 50%;
  position: absolute;
  bottom: -7%;
  left: -11%;
  z-index: -1;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Montserrat;
  background: #37167A;
  color: #FFFFFF;
}

.hidden {
  opacity: 0;
}

.hiddentop {
  top: -1000px;
}

.hiddenbottom {
  bottom: -200px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  position: relative;
  top: 0;
}

._cont {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(217, 217, 217, 0.071);
  -webkit-backdrop-filter: blur(19.2277px);
          backdrop-filter: blur(19.2277px);
  transition: all 3s ease;
}
.header__container {
  min-height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.header__logo-link svg {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}
.header__logo-link svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.header__nav-block {
  transition: all 1s;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header__item-sousety-block {
  display: flex;
}
.header__item-sousety {
  padding-right: 16px;
}
.header__item-sousety:nth-last-child(1) {
  padding-right: 0;
}
.header__item-sousety svg {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}
.header__item-sousety svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.header__city {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: color 0.5s;
}
.header__city:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.header__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 26px #4817AE;
  border-radius: 18px;
  padding: 10px 14px;
  transition: all 0.5s;
}
.header__button:hover {
  color: #FF00B7;
  transition: all 0.5s;
  box-shadow: 0px 4px 26px #2c0e6d;
}
.header__burger-img {
  padding-top: 7px;
  transition: all 0.5s;
}
.header__burger-img:hover {
  cursor: pointer;
  background: #FF00B7;
  border-radius: 10%;
  transition: all 0.5s;
}

.burg__burger-burger {
  position: absolute;
  top: 0;
  right: 0%;
  height: 100vh;
  background: rgba(83, 34, 168, 0.55);
  box-shadow: 0px 4px 73px rgba(9, 0, 6, 0.31);
  -webkit-backdrop-filter: blur(19.2277px);
          backdrop-filter: blur(19.2277px);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: end;
  transition: all 1s;
}
.burg__burger-block {
  width: 596px;
  background: rgba(105, 62, 180, 0.35);
  box-shadow: 0px 4px 73px rgba(9, 0, 6, 0.31);
  -webkit-backdrop-filter: blur(19.2277px);
          backdrop-filter: blur(19.2277px);
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-top: 55px;
  opacity: 1;
}
.burg__burger-close {
  text-align: right;
}
.burg__burger-close svg {
  transition: all 0.5s;
}
.burg__burger-close svg:hover {
  filter: invert(0.8);
  transition: all 0.5s;
}
.burg__burger-item {
  padding-top: 20px;
}
.burg__burger-item-link {
  color: inherit;
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  transition: color 0.5s;
}
.burg__burger-item-link:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.burg__item-sousety-block {
  display: flex;
  padding-top: 54px;
  padding-bottom: 34px;
}
.burg__item-sousety {
  padding-right: 16px;
}
.burg__item-sousety:nth-last-child(1) {
  padding-right: 0;
}
.burg__item-sousety svg {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}
.burg__item-sousety svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.burg__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 26px #4817AE;
  border-radius: 31px;
  padding: 20px 60px;
  transition: all 0.5s;
}
.burg__button:hover {
  color: #FF00B7;
  transition: all 0.5s;
  box-shadow: 0px 4px 26px #2c0e6d;
}
.burg__city {
  padding-top: 27px;
  cursor: pointer;
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  transition: color 0.5s;
}
.burg__city:hover {
  color: #FF00B7;
  transition: color 0.5s;
}

.hidden {
  visibility: hidden;
  right: -1000px;
}

.hid {
  display: none;
}

.footer {
  background: #2E1056;
  height: 202px;
}
.footer__block {
  height: 100%;
}
.footer__nav-block {
  height: 100%;
}
.footer__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.footer__city {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.footer__item-sousety-block {
  display: flex;
  gap: 16px;
}
.footer__button {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #FFFFFF;
}

@media (max-width: 922px) {
  .header__city {
    display: none;
  }
  .header__list {
    gap: 24px;
  }
  .main__main-page-bottom-block {
    display: block;
  }
  .main__main-page-bottom-arrow {
    display: none;
  }
  .main__main-page-play-button {
    top: -10px;
    right: 83px;
  }
  .main__main-page-title {
    font-size: 57px;
    padding-top: 100px;
  }
  .main__main-page-bottom-text {
    font-size: 20px;
  }
  .main__main-page-bottom-arrow-min {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .main__main-page-block {
    padding: 170px 50px 0 50px;
  }
  p span {
    transform-origin: 0 80px;
    top: -28px;
    font-size: 18px;
  }
  .main__main-page-text-play {
    width: 100px;
    height: 100px;
  }
  .main__main-page-play {
    top: 14px;
    right: -79px;
  }
  .main__main-page-play svg {
    width: 42px;
  }
  .main__calc-blocks-cont {
    display: block;
    padding: 0 10px;
  }
  .interview__content-block {
    display: block;
    text-align: center;
  }
  .interview__text-block {
    margin: 0 auto;
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .interview__back-block {
    opacity: 0.5;
  }
  .interview__girl {
    top: -15%;
  }
  .history__content-img {
    position: relative;
  }
  .history__buterfly {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    top: 6%;
    left: 0%;
  }
  .history__content-block {
    display: block;
  }
  .history__content-text {
    width: 100%;
  }
  .team__block-content {
    display: block;
  }
  .team__text-and-button-block {
    width: 100%;
  }
  .team__buttons-block {
    display: none;
  }
  .team__buttons-block1 {
    display: flex;
    flex-direction: column;
  }
  .team__img-girl-2 {
    left: 37%;
  }
  .team__img-block {
    padding-top: 20px;
  }
  .team__text {
    font-size: 16px;
    padding-top: 20px;
  }
  .team__button-link {
    font-size: 18px;
    padding: 22px 8px;
  }
}
@media (max-width: 780px) {
  .main__advantage-flex-block {
    max-width: 372px;
    overflow: hidden;
    margin: 0 auto;
  }
  .main__advantage-item {
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
    padding-right: 0;
  }
  .main__advantage-element {
    min-width: 372px;
  }
  .main__advantage-circle-block {
    display: flex;
  }
}
@media (max-width: 622px) {
  .header__button,
  .header__item-sousety-block {
    display: none;
  }
  .main__main-page-title {
    font-size: 24px;
  }
  .main__main-page-bottom-arrow-text,
  .main__main-page-bottom-text {
    font-size: 18px;
    line-height: 22px;
  }
  .main__main-page-logotype-link {
    width: 100%;
    margin-left: -13px;
  }
  .main__main-page-block {
    padding: 170px 20px 0 20px;
  }
  .main__main-page-play-button {
    margin-right: 40px;
  }
  .interview__name-number {
    display: block;
  }
  .interview__name-number input {
    margin-bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .interview__email,
  .interview__comments {
    display: block;
  }
  .interview__email textarea,
  .interview__comments textarea {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .interview__email input,
  .interview__comments input {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .interview__girl {
    left: -15%;
    transform: scale(-1, 1);
  }
  .interview__text {
    font-size: 16px;
    text-align: center;
    max-width: 318px;
  }
  .interview__number {
    font-size: 24px;
  }
  .interview__button {
    font-size: 18px;
  }
  .history__text {
    font-size: 16px;
  }
  .history__ico-text {
    font-size: 14px;
  }
}