@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
.main__main-page-play-button {
  position: absolute; /*относительное позиционирование*/
  right: 250px;
  top: 100px;
  z-index: 99;
  width: 100%; /*ширина круга*/
  height: 200px; /*высота круга*/
  border-radius: 50%; /*скругление углов*/
  display: flex;
  justify-content: end;
}
.main__main-page-text-play {
  position: absolute;
  width: 200px;
  height: 200px;
  animation: animate 15s linear infinite; /*свойства анимации*/
}

p span {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  position: absolute;
  left: 50%; /*позиция слева*/
  top: 0;
  font-size: 25px;
  color: white;
  transform-origin: 0 100px; /*точка исхода трансформации*/
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.main__main-page-logotype-block {
  position: relative;
}

.main__main-page-play {
  position: absolute;
  top: 59px;
  right: -141px;
}

.main__main-page-block {
  position: relative;
  top: 0;
  padding: 0 10px;
  padding-top: 170px;
  transition: all 3s ease;
}
.main__main-page-title {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 90px;
  color: #FFFFFF;
}
.main__main-page-logotype-link {
  padding: 0;
  margin-left: -32px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
}
.main__main-page-play {
  cursor: pointer;
}
.main__main-page-play svg {
  color: #FFFFFF;
  transition: color 0.5s;
}
.main__main-page-play svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.main__main-page-bottom-block {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.main__main-page-bottom-text {
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
}
.main__main-page-bottom-arrow {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 20px 60px;
  margin-right: 45px;
  transition: all 0.5s;
}
.main__main-page-bottom-arrow:hover {
  border: 3px solid #FF00B7;
  transition: all 0.5s;
  cursor: pointer;
}
.main__main-page-bottom-arrow:hover svg {
  color: #FF00B7;
  transition: color 0.5s;
}
.main__main-page-bottom-arrow svg {
  color: #FFFFFF;
  transition: color 0.5s;
}
.main__main-page-bottom-arrow-text {
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: right;
  color: #FFFFFF;
  padding-top: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.main__main-page-bottom-arrow-min {
  display: none;
}

.main__main-page-bottom-arrow-min div {
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 10px 37px;
  transition: all 0.5s;
  max-width: 97px;
}

.main__main-page-bottom-arrow-min svg {
  color: #ffffff;
}

.main__page-background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.main__advantage-block {
  position: relative;
  bottom: 0;
  transition: all 2s ease;
  padding-top: 270px;
  padding-bottom: 258px;
}
.main__advantage-title-block {
  position: relative;
  top: 0;
}
.main__advantage-title {
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 77px;
  line-height: 90px;
  text-align: center;
  color: #FFFFFF;
}
.main__advantage-title-absolute {
  position: absolute;
  top: -88px;
  left: 8%;
  font-weight: 300;
  font-size: 150px;
  line-height: 183px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.05;
}
.main__advantage-item {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 23px;
  padding-top: 125px;
  position: relative;
  top: 0;
  left: 0;
  transition: all 1s;
}
.main__advantage-element {
  background: rgba(255, 0, 183, 0.46);
  box-shadow: inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(35.8px);
          backdrop-filter: blur(35.8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  max-width: 378px;
  padding: 23px;
  box-shadow: 0px 4px 17px rgba(255, 0, 183, 0.64);
}
.main__advantage-img-element {
  padding-bottom: 25px;
}
.main__advantage-text-item {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
.main__advantage-background-block {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main__advantage-girl {
  position: absolute;
  top: 223px;
  left: -20px;
}
.main__advantage-circleright {
  border: 3px solid #FF00B7;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  right: 75px;
}
.main__advantage-circlebottom {
  border: 9px solid #FF00B7;
  width: 322px;
  height: 322px;
  border-radius: 50%;
  box-shadow: 0px 0px 38px 3px #FF00B7;
  position: absolute;
  bottom: 13%;
  left: 39%;
}
.main__advantage-butterfly-right {
  position: absolute;
  bottom: -150px;
  right: 0;
}
.main__advantage-butterfly-bottom-1 {
  position: absolute;
  bottom: 6%;
  left: 20%;
}
.main__advantage-butterfly-bottom-2 {
  position: absolute;
  bottom: -13%;
  right: 0%;
}
.main__advantage-butterfly-top-1 {
  position: absolute;
  top: 20%;
  right: 0;
}
.main__advantage-butterfly-top-2 {
  position: absolute;
  top: 7%;
  left: 0%;
}

.main__advantage-circle-block {
  padding-top: 36px;
  display: none;
  justify-content: center;
  gap: 21px;
}
.main__advantage-circle {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
}
.main__advantage-circle:hover {
  background: #FF00B7;
  border: 2px solid #FF00B7;
  box-shadow: 0px 4px 17px #FF00B7;
}

.color-circle {
  background: #FF00B7;
  border: 2px solid #FF00B7;
  box-shadow: 0px 4px 17px #FF00B7;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Montserrat;
  background: #37167A;
  color: #FFFFFF;
}

.hidden {
  opacity: 0;
}

.hiddentop {
  top: -1000px;
}

.hiddenbottom {
  bottom: -200px;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  position: relative;
  top: 0;
}

._cont {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background: rgba(217, 217, 217, 0.071);
  -webkit-backdrop-filter: blur(19.2277px);
          backdrop-filter: blur(19.2277px);
  transition: all 3s ease;
}
.header__container {
  min-height: 119px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.header__logo-link svg {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}
.header__logo-link svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.header__list {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header__item-sousety-block {
  display: flex;
}
.header__item-sousety {
  padding-right: 16px;
}
.header__item-sousety:nth-last-child(1) {
  padding-right: 0;
}
.header__item-sousety svg {
  color: rgb(255, 255, 255);
  transition: color 0.5s;
}
.header__item-sousety svg:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.header__city {
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: color 0.5s;
}
.header__city:hover {
  color: #FF00B7;
  transition: color 0.5s;
}
.header__button {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0);
  background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
  box-shadow: 0px 4px 26px #4817AE;
  border-radius: 18px;
  padding: 10px 14px;
  transition: all 0.5s;
}
.header__button:hover {
  color: #FF00B7;
  transition: all 0.5s;
  box-shadow: 0px 4px 26px #2c0e6d;
}
.header__burger-img {
  padding-top: 7px;
  transition: all 0.5s;
}
.header__burger-img:hover {
  cursor: pointer;
  background: #FF00B7;
  border-radius: 10%;
  transition: all 0.5s;
}

.header__burger-burger {
  position: absolute;
  top: 0;
  right: 0px;
  height: 100vh;
  background: rgba(105, 62, 180, 0.35);
  box-shadow: 0px 4px 73px rgba(9, 0, 6, 0.31);
  -webkit-backdrop-filter: blur(19.2277px);
          backdrop-filter: blur(19.2277px);
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: end;
  transition: all 1s;
}
.header__burger-block {
  width: 596px;
  background: rgba(105, 62, 180, 0.35);
  box-shadow: 0px 4px 73px rgba(9, 0, 6, 0.31);
  -webkit-backdrop-filter: blur(19.2277px);
          backdrop-filter: blur(19.2277px);
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-top: 55px;
  opacity: 1;
}
.header__burger-close {
  text-align: right;
}
.header__burger-close svg:hover {
  filter: invert(0.8);
}
.header__burger-item {
  padding-top: 20px;
}
.header__burger-item-link {
  color: inherit;
  font-family: "Poiret One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
}
.header__burger-item-link:hover {
  color: #FF00B7;
}
.header__item-sousety-block {
  padding-top: 55px;
}
.header__button {
  margin-top: 35px;
}

.hidden {
  visibility: hidden;
  right: -1000px;
}

@media (max-width: 922px) {
  .header__city {
    display: none;
  }
  .header__list {
    gap: 24px;
  }
  .main__main-page-bottom-block {
    display: block;
  }
  .main__main-page-bottom-arrow {
    display: none;
  }
  .main__main-page-play-button {
    top: -10px;
    right: 83px;
  }
  .main__main-page-title {
    font-size: 57px;
    padding-top: 100px;
  }
  .main__main-page-bottom-text {
    font-size: 20px;
  }
  .main__main-page-bottom-arrow-min {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .main__main-page-block {
    padding: 170px 50px 0 50px;
  }
  p span {
    transform-origin: 0 80px;
    top: -28px;
    font-size: 18px;
  }
  .main__main-page-text-play {
    width: 100px;
    height: 100px;
  }
  .main__main-page-play {
    top: 14px;
    right: -79px;
  }
  .main__main-page-play svg {
    width: 42px;
  }
}
@media (max-width: 780px) {
  .main__advantage-flex-block {
    max-width: 372px;
    overflow: hidden;
    margin: 0 auto;
  }
  .main__advantage-item {
    flex-wrap: nowrap;
    justify-content: start;
    gap: 0;
  }
  .main__advantage-element {
    min-width: 372px;
  }
  .main__advantage-circle-block {
    display: flex;
  }
}
@media (max-width: 622px) {
  .header__button,
  .header__item-sousety-block {
    display: none;
  }
  .main__main-page-title {
    font-size: 24px;
  }
  .main__main-page-bottom-arrow-text,
  .main__main-page-bottom-text {
    font-size: 18px;
    line-height: 22px;
  }
  .main__main-page-logotype-link {
    width: 100%;
    margin-left: -13px;
  }
  .main__main-page-block {
    padding: 170px 20px 0 20px;
  }
  .main__main-page-play-button {
    margin-right: 40px;
  }
}