.main {

    // .main__reviews-block

    &__reviews-block {
    }

    // .main__advantage-title-block

    &__advantage-title-block {
    }

    // .main__advantage-title

    &__advantage-title {
    }

    // .main__advantage-title-absolute

    &__advantage-title-absolute {
    }
}
.reviews-continue {

    // .reviews__header

    &__header {
        padding-top: 300px;
    }

    // .reviews__content-block

    &__content-block {
        padding-top: 106px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        max-width: 1100px;
    }

    // .reviews__block

    // &__block {
    //     position: relative;
    //     top: 0;
    //     // max-width: 1100px;
    //     width: 70%;
    //     margin: 0 auto;
    //     overflow: hidden;
        
    // }

    // .reviews__opacity-buttons------прозрачные кнопки

    &__opacity-buttons {
        display: flex;
        justify-content: space-between;
    }

    // .reviews__opacity-left

    // &__opacity-left {
    //     position: absolute;
    //     top: 18%;
    //     left: 0%;
    //     width: 367px;
    //     height: 530px;
    //     background-color: rgba(165, 165, 165, 0);
    //     z-index: 50;
    //     border-radius: 43px;
    //     cursor: pointer;
    // }

    // // .reviews__opacity-right

    // &__opacity-right {
    //     position: absolute;
    //     top:18%;
    //     right: 0%;
    //     width: 367px;
    //     height: 530px;
    //     background-color: rgba(165, 165, 165, 0);
    //     z-index: 50;
    //     border-radius: 43px;
    //     cursor: pointer;
    // }   
    &__opacity-left {
        position: absolute;
        top: 0%;
        left: -60%;
        width: 100%;
        height: 100%;
        background-color: rgba(165, 165, 165, 0);
        z-index: 50;
        border-radius: 43px;
        cursor: pointer;
    }

    // .reviews__opacity-right

    &__opacity-right {
        position: absolute;
        top: 0%;
        right: -60%;
        width: 100%;
        height: 100%;
        background-color: rgba(185, 14, 14, 0);
        z-index: 50;
        border-radius: 43px;
        cursor: pointer;
    }  
    // ----------------------------------------окончились
    // .reviews__slider-block
    &__block {
        // border: 2px solid#000;
        max-width: 48%;
        margin: 0 auto;
        // overflow: hidden;
        // background-color: rgba(139, 0, 167, 0.1);
        position: relative;
        top: 0;
    }
    &__slider-block {
        display: flex;
        
        transition: all 1s;
        
    }
    // &__slider-block {
    //     padding-top: 150px;
    //     display: flex;
    //     justify-content: start;
    //     width: 100%;
    //     height: 100%;
    //     position: relative;
    //     left: 0%;
    //     margin: 0 auto;
    //     padding-bottom: 150px;
    //     transition: all ease 1s;
        
    // }

    // .reviews__slider-item

    &__slider-item {
        // background: rgba(139, 0, 167, 0.45);
        // box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
        // backdrop-filter: blur(35.8px);
        // border-radius: 43px;
        
        // position: relative;
        // top: 0;
        // left: 0;
        // padding-bottom: 36px;
        // background: rgba(139, 0, 167, 0.45);
        // opacity: 0.7;
        // box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
        // backdrop-filter: blur(35.8px);
        // border-radius: 43px;
        transition: all 1s;
    }


    // .reviews__img

    &__img {
        position: absolute;
        top: -16%;
        left: 28%;
        z-index: 10;
    }

    // .reviews__name

    &__name {
        font-weight: 500;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 92px;
    }

    // .reviews__exp

    &__exp {
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #FFFFFF;
        padding-top: 10px;
    }

    // .reviews__text

    &__text {
        padding-top: 12px;
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height: 22px;
        color: #FFFFFF;
        
        // transform: rotateY(25deg);
        background: rgba(139, 0, 167, 0.45);
        box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(35.8px);
        border-radius: 43px;
        padding: 12px 32px;
        // padding: 68px 56px;
        min-width: 367px;
        position: relative;
        top: 0;
        left: 0;
        padding-bottom: 36px;
        background: rgba(139, 0, 167, 0.45);
        opacity: 0.7;
        box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(35.8px);
        border-radius: 43px;
        transition: all 1s;
    }

    // .reviews__button-block

    &__button-block {
        text-align: center;
        padding-top: 103px;
    }

    // .reviews__button-link

    &__button-link {
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        color: #FFFFFF;
        padding: 29px 24px;
        background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
        box-shadow: 0px 4px 50px #3E06B4;
        border-radius: 31px;
    }


}
.rewiews-continue__text-cont{  
    transform-style: preserve-3d;
    perspective: 800px;
    transition: all 1s;
    // background: rgba(139, 0, 167, 0.45);
    // box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(35.8px);
    // border-radius: 43px;
    // padding: 0 32px;
    // min-width: 367px;
    // position: relative;
    // top: 0;
    // left: 0;
    // padding-bottom: 36px;
    // background: rgba(139, 0, 167, 0.45);
    // opacity: 0.7;
    // box-shadow: 0px 4px 31px rgba(57, 3, 63, 0.07), inset 35.8px -35.8px 35.8px rgba(165, 165, 165, 0.1), inset -35.8px 35.8px 35.8px rgba(255, 255, 255, 0.1);
    // backdrop-filter: blur(35.8px);
    // border-radius: 43px;
    
}

.rotate-right{
    transform: rotateY(60deg);
    
}
.rotate-left{
    transform: rotateY(-60deg);
}
// #ss1{
//     transform: translateX(25%);
// }
// #ss3{
//     transform: translateX(-25%);
// }

