@import '_main-page';
@import '_advantage';
@import '_calc-page';
@import '_history';
@import '_interview';
@import '_question';
@import '_reviews-continue';
@import '_reviews';
@import '_team-page';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/
body{
    font-family: Montserrat;
    background: #37167A;
    color: #FFFFFF;
}
.hidden{
    opacity: 0;
}
.hiddentop{
    top: -1000px;
}
.hiddenbottom{
    bottom: -200px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    
}
.container {
    
}
._cont{
    max-width: 1200px;
    margin: 0 auto;
    
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(217, 217, 217, 0.071);
    backdrop-filter: blur(19.2277px);
    transition: all 3s ease;

    // .header__container

    &__container {
        min-height: 119px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
    }

    // .header__logo-block

    &__logo-block {
    }

    // .header__logo-link

    &__logo-link svg{
        color: rgb(255, 255, 255);
        transition: color 0.5s;
    }
    &__logo-link svg:hover{
        color: #FF00B7;
        transition: color 0.5s;
    }

    // .header__logo-img

    &__logo-img {
    }

    // .header__nav-block

    &__nav-block {
    }

    // .header__list

    &__list {
        display: flex;
        align-items: center;
        gap: 54px;
    }

    // .header__item
    &__item-sousety-block{
        display: flex;
    }
    &__item-sousety{
        padding-right: 16px;
    }
    &__item-sousety:nth-last-child(1) {
        padding-right: 0;
    }
    &__item-sousety svg{
        color: rgb(255, 255, 255);
        transition: color 0.5s;
    }
    &__item-sousety svg:hover {
        color: #FF00B7;
        transition: color 0.5s;
    }
    // .header__city

    &__city {
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transition: color 0.5s;
    }
    &__city:hover{
        color: #FF00B7;
        transition: color 0.5s;
    }

    // .header__soucety-icons

    &__soucety-icons {
    }

    // .header__button

    &__button {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: rgb(0, 0, 0, 0);
        background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
        box-shadow: 0px 4px 26px #4817AE;
        border-radius: 18px;
        padding: 10px 14px;
        transition: all 0.5s;
    }
    &__button:hover{
        color: #FF00B7;
        transition: all 0.5s;
        box-shadow: 0px 4px 26px #2c0e6d;
    }

    // .header__burger-img
    &__burger-img{
        padding-top: 7px;
        transition: all 0.5s;
    }
    &__burger-img:hover {
        cursor: pointer;
        background: #FF00B7;
        border-radius: 10%;
        transition: all 0.5s;
    }
}

@media (max-width: 922px){
    .header__city{
        display: none;
    }
    .header__list{
        gap: 24px;
    }
    .main__main-page-bottom-block{
        display: block;
    }
    .main__main-page-bottom-arrow{
        display: none;
    }
    .main__main-page-play-button{
        top: -10px;
        right: 83px;
    }
    .main__main-page-title{
        font-size: 57px;
        padding-top: 100px;
    }
    .main__main-page-bottom-text{
        font-size: 20px;
    }
    .main__main-page-bottom-arrow-min{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .main__main-page-block{
        padding: 170px 50px 0 50px;
    }
    p span {
        transform-origin: 0 80px;
        top: -28px;
        font-size: 18px;
    }
    .main__main-page-text-play{
        width: 100px;
        height: 100px;
    }
    .main__main-page-play {
        top: 14px;
        right: -79px;
    }
    .main__main-page-play svg{
        width: 42px;
    }
}
@media (max-width: 780px){
    .main__advantage-flex-block{
        max-width: 372px;
        overflow: hidden;
        margin: 0 auto;
        
    }
    .main__advantage-item{
        flex-wrap: nowrap;
        overflow: scroll;
        justify-content: start;
    }
    .main__advantage-element{
        min-width: 372px;
        
    }
    .main__advantage-content-block{
  
    }
}
@media (max-width: 622px){
    .header__button,
    .header__item-sousety-block{
        display: none;
    }
    .main__main-page-title{
        font-size: 24px;
    }
    .main__main-page-bottom-arrow-text,
    .main__main-page-bottom-text{
        font-size: 18px;
        line-height: 22px;
    }
    .main__main-page-logotype-link{
        width: 100%;
        margin-left: -13px;
    }
    .main__main-page-block{
        padding: 170px 20px 0 20px;
    }
    .main__main-page-play-button{
        margin-right: 40px;
    }

}


