@import '_main-page';
@import '_advantage';
@import '_calc-page';
@import '_history';
@import '_interview';
@import '_question';
@import '_reviews-continue';
@import '_reviews';
@import '_team-page';
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color: transparent;scroll-behavior: smooth;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/
body{
    font-family: Montserrat;
    background: #37167A;
    color: #FFFFFF;
    
}
.hidden{
    opacity: 0;
}
.hiddentop{
    top: -1000px;
}
.hiddenbottom{
    bottom: -200px;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    
}
.container {
    position: relative;
    top: 0;
}
._cont{
    max-width: 1200px;
    margin: 0 auto;
    
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(217, 217, 217, 0.071);
    backdrop-filter: blur(19.2277px);
    transition: all 3s ease;

    // .header__container

    &__container {
        min-height: 119px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
    }

    // .header__logo-block

    &__logo-block {
    }

    // .header__logo-link

    &__logo-link svg{
        color: rgb(255, 255, 255);
        transition: color 0.5s;
    }
    &__logo-link svg:hover{
        color: #FF00B7;
        transition: color 0.5s;
    }

    // .header__logo-img

    &__logo-img {
    }

    // .header__nav-block

    &__nav-block {
        transition: all 1s;
    }

    // .header__list

    &__list {
        display: flex;
        align-items: center;
        gap: 54px;
    }

    // .header__item
    &__item-sousety-block{
        display: flex;
    }
    &__item-sousety{
        padding-right: 16px;
    }
    &__item-sousety:nth-last-child(1) {
        padding-right: 0;
    }
    &__item-sousety svg{
        color: rgb(255, 255, 255);
        transition: color 0.5s;
    }
    &__item-sousety svg:hover {
        color: #FF00B7;
        transition: color 0.5s;
    }
    // .header__city

    &__city {
        cursor: pointer;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        transition: color 0.5s;
    }
    &__city:hover{
        color: #FF00B7;
        transition: color 0.5s;
    }

    // .header__soucety-icons

    &__soucety-icons {
    }

    // .header__button

    &__button {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: rgb(0, 0, 0, 0);
        background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
        box-shadow: 0px 4px 26px #4817AE;
        border-radius: 18px;
        padding: 10px 14px;
        transition: all 0.5s;
    }
    &__button:hover{
        color: #FF00B7;
        transition: all 0.5s;
        box-shadow: 0px 4px 26px #2c0e6d;
    }

    // .header__burger-img
    &__burger-img{
        padding-top: 7px;
        border-radius: 10%;
        transition: all 0.5s;
    }
    &__burger-img:hover {
        cursor: pointer;
        background: #FF00B7;
        border-radius: 10%;
        transition: all 0.5s;
    }
}
// --------------------------------------------------------------burger-menu

.burg {

    // .burg__burger-burger

    &__burger-burger {
        position: absolute;
        top: 0;
        right: 0%;
        height: 100vh;
        background: rgba(83, 34, 168, 0.55);
        box-shadow: 0px 4px 73px rgba(9, 0, 6, 0.31);
        backdrop-filter: blur(19.2277px);
        
        width: 100%;
        z-index: 999;
        display: flex;
        justify-content: end;
        transition: all 1s;
        
        
    }

    // .burg__burger-block

    &__burger-block {
        width: 596px;
        background: rgba(105, 62, 180, 0.35);
        box-shadow: 0px 4px 73px rgba(9, 0, 6, 0.31);
        backdrop-filter: blur(19.2277px);
        position: relative;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        padding-top: 55px;
        opacity: 1;
        
        
    }

    // .burg__burger-container

    &__burger-container {
    }

    // .burg__burger-close

    &__burger-close {
        text-align: right;
    }
    &__burger-close svg{
        transition: all 0.5s;
    }
    &__burger-close svg:hover{
        filter: invert(0.8);
        transition: all 0.5s;
    }
    // .burg__burger-list

    &__burger-list {
    }

    // .burg__burger-item

    &__burger-item {
        padding-top: 20px;
    }

    // .burg__burger-item-link

    &__burger-item-link {
        color: inherit;
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        color: #FFFFFF;
        transition: color 0.5s;
    }
    &__burger-item-link:hover{
        color: #FF00B7;
        transition: color 0.5s;
    }
    // .burg__item-sousety-block
    &__item-sousety-block{
        display: flex;
        padding-top: 54px;
        padding-bottom: 34px;
    }
    &__item-sousety{
        padding-right: 16px;
    }
    &__item-sousety:nth-last-child(1) {
        padding-right: 0;
    }
    &__item-sousety svg{
        color: rgb(255, 255, 255);
        transition: color 0.5s;
    }
    &__item-sousety svg:hover {
        color: #FF00B7;
        transition: color 0.5s;
    }
    &__item-sousety-block {
    }

    // .burg__item-sousety

    &__item-sousety {
    }

    // .burg__item

    &__item {
    }

    // .burg__button

    &__button {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        background: rgb(0, 0, 0, 0);
        background: linear-gradient(180deg, #5300FF 0%, #430DB4 100%);
        box-shadow: 0px 4px 26px #4817AE;
        border-radius: 31px;
        padding: 20px 60px;
        transition: all 0.5s;
    }
    &__button:hover{
        color: #FF00B7;
        transition: all 0.5s;
        box-shadow: 0px 4px 26px #2c0e6d;
    }
    &__city {
        padding-top: 27px;
        cursor: pointer;
        font-family: 'Poiret One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;        
        transition: color 0.5s;
    }
    &__city:hover{
        color: #FF00B7;
        transition: color 0.5s;
    }
}

.hidden{
    visibility: hidden;
    right: -1000px;
}
.hid{
    display: none;
}
.footer {
    background: #2E1056;
    height: 202px;
    

    // .footer__block

    &__block {
        height: 100%;
        padding: 0 10px;
    }

    // .footer__nav-block

    &__nav-block {
        height: 100%;
    }

    // .footer__list

    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    // .footer__item

    &__item {
        
    }

    // .footer__city

    &__city {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

    // .footer__item-sousety-block

    &__item-sousety-block {
        display: flex;
        gap: 16px;
    }

    // .footer__item-sousety
    &__item-sousety svg{
        transition: color 0.5s;
    }
    &__item-sousety svg:hover {
        color: #FF00B7;
        transition: color 0.5s;
    }

    // .footer__button

    &__button {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        text-align: right;
        color: #FFFFFF;
    }
}
.color-circle{
    background: #FF00B7;
    border: 2px solid #FF00B7;
    box-shadow: 0px 4px 17px #FF00B7;
}

@media (max-width: 922px){
    .header__city{
        display: none;
    }
    .header__list{
        gap: 24px;
    }
    .main__main-page-bottom-block{
        display: block;
    }
    .main__main-page-bottom-arrow{
        display: none;
    }
    .main__main-page-play-button{
        top: -10px;
        right: 83px;
    }
    .main__main-page-title{
        font-size: 57px;
        padding-top: 140px;
    }
    .main__main-page-bottom-text{
        font-size: 20px;
    }
    .main__main-page-bottom-arrow-min{
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 5px;
    }
    .main__main-page-block{
        padding: 170px 50px 0 50px;
    }
    p span {
        transform-origin: 0 80px;
        top: -28px;
        font-size: 18px;
    }
    .main__main-page-text-play{
        width: 100px;
        height: 100px;
    }
    .main__main-page-play {
        top: 14px;
        right: -79px;
    }
    .main__main-page-play svg{
        width: 42px;
    }
    .main__calc-blocks-cont{
        display: block;
        padding: 0 10px;
    }
    .main__main-page-bottom-arrow-text{
        font-size: 18px;
    }
    .interview__content-block{
        display: block;
        text-align: center;
    }
    .interview__text-block{
        margin: 0 auto;
        text-align-last: left;
    }
    .interview__back-block{
        opacity: 0.5;
    }
    .interview__girl{
        top: -15%;
    }
    .history__content-img{
        position: relative;
        right: 0;
    }
    .history__buterfly{
        object-fit: cover;
        width: 100%;
        top: 6%;
        left: 0%;
    }
    .history__content-block{
        display: block;
    }
    .history__content-text{
        width: 100%;
    }
    .team__block-content{
        display: block;

    }
    .team__text-and-button-block{
        width: 100%;

    }
    .team__buttons-block{
        display: none;
    }
    .team__buttons-block1{
        display: flex;
        flex-direction: column;
    }
    .team__img-girl-2{
        left: 37%;
    }
    .team__img-block{
        padding-top: 20px;
    }
    .team__text{
        font-size: 16px;
        padding-top: 20px;
    }
    .team__button-link{
        font-size: 18px;
        padding: 22px 8px;
    }
    .reviews-continue__block{
        max-width: 100%;
    }
    .reviews-continue__text{
        font-size: 16px;
        
        
        max-width: 65%;
        margin: 0 auto;
        padding-top: 50px;
    }
    .rewiews-continue__text-cont{
        
    }
    .reviews-continue__circle-block{
        display: flex;
    }
}
@media (max-width: 780px){
    .main__advantage-flex-block{
        max-width: 372px;
        overflow: hidden;
        margin: 0 auto;
        // overflow: scroll;
    }
    .main__advantage-item{
        flex-wrap: nowrap;
        // overflow: scroll;
        justify-content: start;
        gap: 0;
        padding-right: 0;
    }
    .main__advantage-element{
        min-width: 372px;
        
    }
    .main__advantage-content-block{
  
    }
    .main__advantage-circle-block{
        display: flex;
    }
}
@media (max-width: 622px){
    .main__page-background{
        top: -15%;
    }
    .main__advantage-block{
        padding-top: 150px;
    }
    .header__button,
    .header__item-sousety-block{
        display: none;
    }
    .main__main-page-title{
        font-size: 24px;
    }
    .main__main-page-bottom-arrow-text,
    .main__main-page-bottom-text{
        font-size: 18px;
        line-height: 22px;
    }
    .main__main-page-logotype-link{
        width: 100%;
        margin-left: -13px;
    }
    .main__main-page-block{
        padding: 170px 20px 0 20px;
    }
    .main__main-page-play-button{
        margin-right: 40px;
    }
    .interview__name-number{
        display: block;
        input{
            margin-bottom: 25px;
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .interview__email,
    .interview__comments{
        display: block;
        textarea{
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
        input{
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    }
    .interview__header{
        padding-top: 100px;
    }
    .interview__content-block{
        padding-top: 30px;
    }
    .interview__girl{
        left: -15%;
        transform: scale(-1, 1);
        
    }
    .interview__text{
        font-size: 16px;
        text-align: left;
        padding-bottom: 25px;
    }
    .interview__number{
        font-size: 24px;
        padding-bottom: 25px;
    }
    .interview__button{
        font-size: 18px;
    }
    .history__content-block{
        padding-top: 30px;
    }
    .history__text{
        font-size: 16px;
    }
    .history__ico-text{
        font-size: 14px;
    }
    .footer__list{
        flex-direction: column;
    }
    .main__calc-title{
        font-size: 20px;
    }
    .main__calc-text{
        font-size: 18px;
    }
    .main__calc-textr{
        font-size: 18px;
    }
    .main__calc-rub{
        font-size: 33px;
    }
    .main__calc-button-link-lang{
        font-size: 14px;
        padding: 14px 19px;
    }
    .main__calc-button-link-time{
        font-size: 14px;
        padding: 14px 19px;
    }
    .main__calc-button-link-week{
        font-size: 14px;
        padding: 14px 19px;
    }
    .main__advantage-title{
        font-size: 48px;
    }
    .main__advantage-title-absolute{
        font-size: 60px;
    }
    .main__calc-button-botom-link{
        font-size: 18px;
        padding: 21px 26px;
    }
    .main__calc-block{
        padding-left: 4px;
        padding-right: 4px;
    }
    .main__calc-blocks-cont{
        padding: 0;
    }
    .main__calc-result-block{
        padding: 0 10px;
    }
    .main__calc-subtitle{
        font-size: 22px;
    }
    .main__history-block{
        padding-top: 150px;
    }
    .team__header{
        padding-top: 150px;
    }
    .reviews__header{
        padding-top: 100px;
    }
    .reviews__button-link{
        font-size: 18px;
        padding: 21px 30px;
    }
    .reviews-continue__header{
        padding-top: 150px;
    }
    .quest__subheader{
        font-size: 16px;
    }
    .quest__text1{
        font-size: 14px;
    }
    .quest__subtext{
        font-size: 12px;
        padding-top: 0;
    }
    .quest__text{
        padding-top: 12px;
    }
    .quest__item{
        padding-bottom: 12px;
    }
    .quest__block{
        padding: 16px 14px 26px 16px;
    }
    .reviews-continue__text{
        max-width: 100%;
        min-width: auto;
    }
}


